
.sec-blog {
    body {
        font-size: 15px;
        line-height: 26px;
        background-color: #fff;
        font-family: 'Roboto', serif;
        color: #5e5e5e;
        background-color: #fff;
        font-family: 'Poppins', serif !important;
    }

    h1 {
        font-family: 'Roboto', serif;
        font-weight: 700;
        line-height: 1.4;
        color: #111;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 23px;
        font-family: 'Poppins', serif !important;
        font-weight: 600;

        &:hover {
            a {
                text-decoration: underline !important;
                color: #111 !important;
            }
        }
    }

    h2 {
        font-family: 'Roboto', serif;
        font-weight: 700;
        line-height: 1.4;
        color: #111;
        font-size: 27px;
        line-height: 38px;
        margin-bottom: 20px;
        font-family: 'Poppins', serif !important;
        font-weight: 600;

        &:hover {
            a {
                text-decoration: underline !important;
                color: #111 !important;
            }
        }
    }

    h3 {
        font-family: 'Roboto', serif;
        font-weight: 700;
        line-height: 1.4;
        color: #111;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 17px;
        font-family: 'Poppins', serif !important;
        font-weight: 600;

        &:hover {
            a {
                text-decoration: underline !important;
                color: #111 !important;
            }
        }
    }

    h4 {
        font-family: 'Roboto', serif;
        font-weight: 700;
        line-height: 1.4;
        color: #111;
        font-size: 19px;
        line-height: 29px;
        margin-bottom: 14px;
        font-family: 'Poppins', serif !important;
        font-weight: 600;

        &:hover {
            a {
                text-decoration: underline !important;
                color: #111 !important;
            }
        }
    }

    h5 {
        font-family: 'Roboto', serif;
        font-weight: 700;
        line-height: 1.4;
        color: #111;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 11px;
        font-family: 'Poppins', serif !important;
        font-weight: 600;

        &:hover {
            a {
                text-decoration: underline !important;
                color: #111 !important;
            }
        }
    }

    p {
        font-family: 'Roboto', serif;
        color: #5e5e5e;
        margin-bottom: 26px;
        font-size: 15px;
        line-height: 26px;
        font-family: 'Poppins', serif !important;
    }

    .topbar-section {
        font-family: 'Roboto', serif;
    }

    .navbar-inverse {
        color: #fff !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        background: rgba(0, 0, 0, 0) linear-gradient(to right, #0091e5 0px, #00b7e5 100%) repeat scroll 0 0 !important;

        .navbar-nav {
            .nav-link {
                font-family: 'Roboto', serif;
                color: #fff !important;
                font-size: 13px;
                font-weight: 500;
                line-height: 1;
                text-transform: uppercase;

                &:focus {
                    opacity: 0.8;
                    opacity: 0.8;
                }
            }

            .active {
                >.nav-link {
                    color: #3197d6 !important;
                }
            }

            .nav-link.active {
                color: #3197d6 !important;
            }

            .nav-link.open {
                color: #3197d6 !important;
            }

            .open {
                >.nav-link {
                    color: #3197d6 !important;
                }
            }
        }

        .navbar-toggler {
            color: #fff !important;
            background-color: #3197d6;
        }
    }

    .header {
        .dropdown-menu {
            font-family: 'Roboto', serif;
        }

        .navbar-nav {
            .has-submenu {
                ul {
                    margin-top: 17px !important;
                }
            }

            .has-submenu.menu-large {
                ul {
                    margin-top: 0px !important;
                }
            }
        }
    }

    .navbar-nav {
        .nav-link {
            font-family: 'Roboto', serif;
            color: #fff !important;
            font-size: 13px;
            font-weight: 500;
            line-height: 1;
            text-transform: uppercase;

            &:hover {
                opacity: 0.8;
                color: #3197d6 !important;
            }

            &:focus {
                opacity: 0.8;
                color: #3197d6 !important;
            }
        }

        .nav-link.active.color-pink-hover {
            color: #deacca !important;
        }

        .nav-link.color-pink-hover {
            &:hover {
                color: #deacca !important;
            }

            &:focus {
                color: #deacca !important;
            }
        }

        .nav-link.active.color-aqua-hover {
            color: #2ad2c9 !important;
        }

        .nav-link.color-aqua-hover {
            &:hover {
                color: #2ad2c9 !important;
            }

            &:focus {
                color: #2ad2c9 !important;
            }
        }

        .nav-link.active.color-green-hover {
            color: #34bf49 !important;
        }

        .nav-link.color-green-hover {
            &:hover {
                color: #34bf49 !important;
            }

            &:focus {
                color: #34bf49 !important;
            }
        }

        .nav-link.active.color-red-hover {
            color: #ed1b2e !important;
        }

        .nav-link.color-red-hover {
            &:hover {
                color: #ed1b2e !important;
            }

            &:focus {
                color: #ed1b2e !important;
            }
        }

        .nav-link.active.color-yellow-hover {
            color: #ffb900 !important;
        }

        .nav-link.color-yellow-hover {
            &:hover {
                color: #ffb900 !important;
            }

            &:focus {
                color: #ffb900 !important;
            }
        }

        .nav-link.active.color-grey-hover {
            color: #6f1683 !important;
        }

        .nav-link.color-grey-hover {
            &:hover {
                color: #6f1683 !important;
            }

            &:focus {
                color: #6f1683 !important;
            }
        }
    }

    h6 {
        font-weight: 700;
        line-height: 1.4;
        color: #111;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 11px;

        &:hover {
            a {
                text-decoration: underline !important;
                color: #111 !important;
            }
        }
    }

    a {
        color: #111;
        text-decoration: none !important;

        &:hover {
            color: #ff6347 !important;
            color: #3197d6 !important;
        }

        &:focus {
            color: #ff6347 !important;
            color: #3197d6 !important;
        }
    }

    .blockquote {
        border: 1px solid #edeff2;
        background: #fff none repeat scroll 0 0;
        border-left: 4px solid #eceeef;
        font-size: 1.1rem;
        font-style: italic;
        margin-bottom: 1.5rem;
        border-radius: 0 !important;
        padding: 2rem;
        border-left-color: #3197d6;
    }

   

    .notfound {
        h2 {
            font-family: Comic Sans MS;
            font-size: 140px;
            padding: 0 0 1.7rem;
            margin: 0;
            line-height: 1;
            font-weight: bold;
        }

        h3 {
            font-size: 40px;
            padding: 0 0 0.6rem;
            margin: 0;
        }

        p {
            padding: 1rem 0 1.4rem;
            margin-bottom: 0;
        }
    }

    .sitemap-wrapper {
        margin-bottom: 2rem;
        position: relative;
        border: 1px dashed #dadada;
        padding: 2rem;

        .year {
            position: absolute;
            padding: 0 1rem;
            background-color: #fff;
            top: -12px;
            color: #fff !important;
            background-color: #3197d6;
        }

        small {
            display: block;
            font-size: 11px;
            padding: 0;
            margin: 0 0 0.5rem;
            line-height: 1;
            text-transform: uppercase;
            color: #3197d6 !important;
        }
    }

    .sitemap-text {
        margin: 1rem 0;
        font-weight: 500;
    }

    .breadcrumb {
        background-color: transparent;
        border-radius: 0;
        list-style: outside none none;
        margin-bottom: 0;
        text-align: right;
        padding: 0;
    }

    .breadcrumb-item {
        float: none;
        font-size: 12px;
        display: inline-block;
    }

    .page-link {
        background-color: #edeff2 !important;
        border: 0 dashed #e2e2e2;
        border-radius: 0;
        color: #a3a5a8 !important;
        display: block;
        font-size: 14px;
        line-height: 1;
        margin-left: 6px;
        padding: 0.8rem 0.8rem;
        position: relative;
        text-transform: capitalize;

        &:hover {
            color: #111 !important;
            color: #fff !important;
            background: rgba(0, 0, 0, 0) linear-gradient(to right, #0091e5 0px, #00b7e5 100%) repeat scroll 0 0 !important;
        }

        &:focus {
            color: #111 !important;
            color: #fff !important;
            background: rgba(0, 0, 0, 0) linear-gradient(to right, #0091e5 0px, #00b7e5 100%) repeat scroll 0 0 !important;
        }
    }

    .page-item {
        &:first-child {
            .page-link {
                margin-left: 0;
                border-radius: 0;
            }
        }

        &:last-child {
            .page-link {
                border-radius: 0;
            }
        }
    }

    .page-title {
        padding: 3rem 0;
        background-color: #edeff2;

        small {
            color: #a3a5a8;
            display: inline-block;
            font-size: 13px;
            font-style: italic;
            letter-spacing: 1px;
            line-height: 1;
            margin-bottom: 0;
            margin-top: -1px;
            padding-bottom: 0;
            padding-left: 0.5rem;
            vertical-align: middle;
        }

        i {
            border-radius: 40px;
            display: inline-block;
            font-size: 14px;
            height: 40px;
            line-height: 40px;
            margin-right: 0.3rem;
            margin-top: -0.4rem;
            text-align: center;
            vertical-align: middle;
            width: 40px;
            color: #fff !important;
            background-color: #3197d6;
        }

        h2 {
            font-size: 24px;
            line-height: 1;
            padding: 0;
            margin: 0;
        }

        .bg-orange {
            background-color: #ff6347 !important;
        }

        .bg-pink {
            background-color: #deacca !important;
        }

        .bg-aqua {
            background-color: #2ad2c9 !important;
        }

        .bg-green {
            background-color: #34bf49 !important;
        }

        .bg-red {
            background-color: #ed1b2e !important;
        }

        .bg-yellow {
            background-color: #ffb900 !important;
        }

        .bg-grey {
            background-color: #6f1683 !important;
        }
    }

    .carousel-indicators {
        li {
            max-width: 10px;
            height: 10px;
        }
    }

    .tag-cloud-single {
        span {
            background: #ddd none repeat scroll 0 0;
            border-radius: 3px;
            color: #fff;
            display: inline-block !important;
            margin-right: 0.5rem !important;
            padding: 0 1rem;
            color: #fff !important;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            background: rgba(0, 0, 0, 0) linear-gradient(to right, #0091e5 0px, #00b7e5 100%) repeat scroll 0 0 !important;
            color: #fff !important;
            background-color: #3197d6;
        }

        a {
            color: #999 !important;
            font-size: 11px;
            letter-spacing: 2px;
            margin-top: 5px;
            padding-left: 10px;
            text-transform: uppercase;
        }
    }

    .post-sharing {
        display: block;
        width: 100%;
        position: relative;
        margin: 1rem 0 0;

        .btn {
            padding: 0.3rem 1.6rem;
            border-radius: 3px;
            color: #fff !important;

            &:hover {
                opacity: 0.9;
            }
        }

        span {
            display: inline-block !important;
        }

        li {
            display: inline-block !important;
        }
    }

    .gp-button.btn-primary {
        border-color: #da5333 !important;
        background-color: #da5333 !important;
        border-color: #da5333 !important;
        background: #da5333 !important;

        &:hover {
            border-color: #da5333 !important;
            background-color: #da5333 !important;
            border-color: #da5333 !important;
            background: #da5333 !important;
        }

        &:focus {
            border-color: #da5333 !important;
            background-color: #da5333 !important;
            border-color: #da5333 !important;
            background: #da5333 !important;
        }
    }

    .fb-button.btn-primary {
        background-color: #3b5998 !important;
        border-color: #3b5998 !important;
        background: #3b5998 !important;
        border-color: #3b5998 !important;

        &:focus {
            background-color: #3b5998 !important;
            border-color: #3b5998 !important;
            background: #3b5998 !important;
            border-color: #3b5998 !important;
        }

        &:hover {
            background-color: #3b5998 !important;
            border-color: #3b5998 !important;
            background: #3b5998 !important;
            border-color: #3b5998 !important;
        }
    }

    .tw-button.btn-primary {
        background-color: #00b6f1 !important;
        border-color: #00b6f1 !important;
        background: #00b6f1 !important;
        border-color: #00b6f1 !important;

        &:hover {
            background-color: #00b6f1 !important;
            border-color: #00b6f1 !important;
            background: #00b6f1 !important;
            border-color: #00b6f1 !important;
        }

        &:focus {
            background-color: #00b6f1 !important;
            border-color: #00b6f1 !important;
            background: #00b6f1 !important;
            border-color: #00b6f1 !important;
        }
    }

    .tw-button {
        i {
            margin-right: 0.5rem;
        }
    }

    .fb-button {
        i {
            margin-right: 0.5rem;
        }
    }

    .gp-button {
        padding: 0.8rem 1rem !important;
    }

    .single-post-media {
        display: block;
        position: relative;
        overflow: hidden;
        margin-bottom: 2rem;

        img {
            width: 100%;
        }
    }

    .blog-title-area {
        display: block;
        position: relative;
        padding: 0;
        margin-bottom: 3rem;

        .breadcrumb {
            float: none;
            text-align: left;
            padding: 0;
            color: #a3a5a8;
            margin: 0;
        }

        .blog-meta {
            a {
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            small {
                color: #a3a5a8;
            }
        }

        .breadcrumb-item.active {
            color: #a3a5a8;
        }

        .breadcrumb-item {
            + {
                .breadcrumb-item {
                    &::before {
                        color: #a3a5a8;
                    }
                }
            }
        }

        a {
            color: #a3a5a8;
        }

        span {
            margin: 0.5rem 0;
            display: block;

            a {
                padding: 0 1rem;
                color: #fff !important;
                border-radius: 3px;
                font-size: 13px;
            }
        }

        h3 {
            font-size: 41px;
            line-height: 50px;
            margin-bottom: 7px;
            margin-top: 0;
            overflow-wrap: break-word;
        }
    }

    .blog-title-area.text-center {
        .breadcrumb {
            text-align: center;
        }
    }

    .user_name {
        font-size: 16px;
        font-weight: 500;
    }

    .comments-list {
        p {
            margin-bottom: 1rem;
        }

        .media-right {
            color: #999 !important;
            font-size: 11px;
            letter-spacing: 2px;
            margin-top: 5px;
            padding-left: 10px;
            text-transform: uppercase;
        }

        small {
            color: #999 !important;
            font-size: 11px;
            letter-spacing: 2px;
            margin-top: 5px;
            padding-left: 10px;
            text-transform: uppercase;
        }

        .media {
            padding: 1rem;
            margin-bottom: 15px;
        }

        img {
            max-width: 80px;
            margin-right: 30px;
        }
    }

    .media-body {
        .btn-primary {
            padding: 5px 15px !important;
            font-size: 11px !important;
        }
    }

    .last-child {
        margin-bottom: 0 !important;
    }

    .prevnextpost {
        .float-right {
            margin-left: 1rem;
        }

        .w-100 {
            margin-bottom: 0 !important;
            padding-bottom: 0;
        }

        .float-left {
            margin-right: 1rem;
        }
    }

    .authorbox {
        a {
            font-weight: bold;
        }

        p {
            font-style: italic;
            margin-bottom: 1rem;

            a {
                color: #ff6347 !important;
                color: #3197d6 !important;
            }
        }
    }

    .small-title {
        background: #edeff2 none repeat scroll 0 0;
        font-size: 16px;
        left: 5%;
        line-height: 1;
        margin: 0;
        padding: 0.6rem 1.5rem;
        position: absolute;
        text-align: center;
        top: -18px;
    }

    .custombox {
        position: relative;
        padding: 3rem 2rem;
        border: 1px dashed #dadada;
    }

    .pp {
        padding-left: 5%;
        padding-right: 5%;

        .float-left {
            margin: 0 2rem 1rem -3rem;
        }

        a {
            font-weight: bold;
            color: #ff6347 !important;
            color: #3197d6 !important;
        }

        .float-right {
            margin-left: 2rem;
        }
    }

    .img-fullwidth {
        width: 100%;
        margin-bottom: 2rem;
    }

    .check {
        padding-bottom: 0;
        margin-bottom: 25px;
        list-style: none;

        li {
            &:before {
                font-family: FontAwesome;
                content: "\f105";
                padding-right: 0.5rem;
                color: #111;
            }
        }
    }

    .page-wrapper {
        .banner-spot {
            padding: 0.4rem;
            background-image: none;
            padding: 1rem !important;
            border: 1px solid #e2e2e2;
        }
    }

    .banner-spot {
        background: #edeff2 url("images/ads-bg.png") no-repeat scroll center right / auto 100%;
        clear: both;
        display: block;
        height: auto;
        margin: 0 auto;
        padding: 15px;
        position: relative;
        padding: 0 !important;
        border: 1px solid #e2e2e2;
    }

    .banner-img {
        img {
            margin: auto;
            text-align: center;
            max-width: 768px;
            float: none;
            width: 100%;
            display: block;
        }
    }

    .blog-meta {
        h4 {
            padding: 1rem 0 0.5rem;
            margin: 0;
            font-size: 21px;
        }

        small {
            font-size: 11px;
            display: inline-block;
            margin-bottom: 0;
            padding-bottom: 0;
            color: #111;
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 0.5rem;
            font-weight: 500;
            color: #999 !important;

            &:after {
                content: "/";
                padding-left: 1rem;
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }

            a {
                font-weight: 500;
                color: #999 !important;
            }
        }

        .bg-orange {
            color: #fff !important;
            padding: 0 0.8rem;
            border-radius: 3px;
        }

        small.firstsmall {
            &:after {
                content: "" !important;
                padding-left: 0;
            }
        }
    }

    .blog-meta.big-meta {
        h4 {
            padding: 1rem 0 0.6rem;
            margin: 0;
            font-size: 28px;
            font-size: 24px;
        }

        p {
            margin-bottom: 0.5rem;
            padding-bottom: 0;
        }
    }

    hr.invis {
        border: 0;
        margin: 2rem 0;
    }

    hr.invis1 {
        border: 0;
        margin: 4rem 0;
    }

    hr.invis2 {
        border: 0;
        margin: 6rem 0;
    }

    hr.invis3 {
        border: 0;
        margin: 0;
    }

    .post-media {
        position: relative;
        overflow: hidden;

        &:hover {
            .hovereffect {
                visibility: visible;
                zoom: 1;
                filter: alpha(opacity=100);
                opacity: 1;

                span {
                    &::before {
                        visibility: visible;
                        zoom: 1;
                        filter: alpha(opacity=100);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .shadoweffect {
        position: absolute;
        top: 0;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%);
        background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        zoom: 1;
        filter: alpha(opacity=100);
        opacity: 1;
    }

    .shadow-desc {
        position: absolute;
        bottom: 0;
        padding: 1rem 1.5rem;

        .blog-meta {
            small {
                &::after {
                    color: #fff !important;
                }
            }

            a {
                color: #fff !important;
            }

            h4 {
                a {
                    color: #fff !important;
                }
            }
        }
    }

    .small-box {
        .shadow-desc {
            padding: 1rem;

            h4 {
                font-size: 16px;
                line-height: 1.3;
            }
        }
    }

    .hovereffect {
        position: absolute;
        top: 0;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        zoom: 1;
        filter: alpha(opacity=0);
        opacity: 0.5;
        background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
        background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);

        span {
            &::before {
                width: 90px;
                text-align: center;
                left: 0;
                right: 0;
                top: 45%;
                margin: -2rem auto;
                visibility: hidden;
                position: absolute;
                height: 90px;
                display: block;
                content: url(images/hover.png);
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
                zoom: 1;
                filter: alpha(opacity=0);
                opacity: 0;
            }
        }

        span.videohover {
            &::before {
                content: url(images/videohover.png);
            }
        }
    }

    .blog-list {
        .blog-meta.big-meta {
            h4 {
                margin-left: -20%;
                margin-top: 1rem;
                background-color: #fff;
                padding: 1rem 1.5rem 1rem;
            }
        }
    }

    .blog-custom-build {
        .blog-meta {
            margin: -4rem 3rem 0;
            z-index: 11;
            padding: 2rem 2rem;
            position: relative;
            background-color: #fff;
            border-radius: 3px 3px 0 0;
            border-bottom: 1px solid #edeff2;
        }

        .blog-meta.big-meta {
            h4 {
                font-size: 28px;
                margin: 0;
                padding: 0 0 1rem;
            }
        }

        .post-sharing {
            margin: 0 0 1.5rem;
            padding: 0;

            .btn {
                padding: 0.7rem 1rem !important;
            }
        }
    }

    .blog-grid-system {
        .blog-meta.big-meta {
            h4 {
                font-size: 21px;
            }
        }

        .col-md-6 {
            margin-bottom: 3rem;
        }

        .color-orange {
            display: block;
            margin-top: 1rem;

            a {
                color: #fff !important;
                font-size: 13px;
                padding: 0 0.7rem;
                border-radius: 3px;
            }
        }
    }

    .blog-video-system {
        .col-md-12 {
            margin-bottom: 3rem;
        }

        .blog-meta.big-meta {
            h4 {
                padding: 1rem 0;
                font-size: 24px;
            }
        }

        .btn {
            margin-top: 1rem;
        }
    }

    .sidebar {
        .widget {
            position: relative;
            display: block;
            margin-bottom: 3rem;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }

        .banner-spot {
            background-image: none;
            padding: 5px;
        }

        .instagram-wrapper {
            a {
                width: 33.3333%;
                margin: 0;
                float: left;
                border-right: 5px solid #fff;
                border-bottom: 5px solid #fff;
            }
        }

        .blog-list-widget {
            img {
                width: 55px;
                padding: 0;
            }

            .mb-1 {
                font-size: 15px;
            }
        }

        a {
            color: rgba(0, 0, 0, 0.6);
        }

        .widget-title {
            display: block;
            font-size: 18px;
            margin: 0 0 2rem;
            padding: 0;
            line-height: 1;
        }
    }

    .wb {
        background-color: #fff;
        border-top: 1px dashed #dadada;
    }

    .form-wrapper {
        h4 {
            margin-bottom: 1.5rem;
        }

        .form-control {
            background: #fff none repeat scroll 0 0;
            border: 1px dashed #dadada;
            border-radius: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.3px;
            margin-bottom: 1.4rem;
            min-height: 50px;
            text-transform: none;

            &::-moz-placeholder {
                color: #a2abb1;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: #a2abb1;
                opacity: 1;
            }

            &::placeholder {
                color: #a2abb1;
                opacity: 1;
            }
        }

        .btn {
            i {
                padding-left: 0.5rem;
            }
        }

        textarea {
            min-height: 120px !important;
            padding-top: 1rem;
        }

        .newsletter-widget {
            .form-inline {
                .form-control {
                    &::-webkit-input-placeholder {
                        color: #a2abb1;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .search-form {
        .form-control {
            border-radius: 0;
            margin-bottom: 1.4rem;
            border: 1px solid #edeff2;
            font-size: 12px;
            min-height: 45px;
            text-transform: none;
            font-weight: 400;
            margin: 0;
            min-width: 240px;
            border-right: 0;
        }

        .btn {
            padding: 0;
            border-color: #edeff2 !important;
            height: 45px;
            position: absolute;
            border-radius: 0 !important;
            background-color: #edeff2 !important;
            right: 0;
            color: #a3a5a8 !important;
            width: 45px;
            line-height: 45px;
            margin-left: 0;
            color: #fff !important;
            background-color: #3197d6 !important;

            &:hover {
                padding: 0;
                border-color: #edeff2 !important;
                height: 45px;
                position: absolute;
                border-radius: 0 !important;
                background-color: #edeff2 !important;
                right: 0;
                color: #a3a5a8 !important;
                width: 45px;
                line-height: 45px;
                margin-left: 0;
                color: #fff !important;
                background-color: #3197d6 !important;
            }

            &:focus {
                padding: 0;
                border-color: #edeff2 !important;
                height: 45px;
                position: absolute;
                border-radius: 0 !important;
                background-color: #edeff2 !important;
                right: 0;
                color: #a3a5a8 !important;
                width: 45px;
                line-height: 45px;
                margin-left: 0;
                color: #fff !important;
                background-color: #3197d6 !important;
            }
        }
    }

    .footer-text {
        img {
            max-width: 290px;
        }

        p {
            margin-bottom: 0;
            padding: 1rem 0 1.2rem;
        }
    }

    .blog-list-widget {
        img {
            background: #fff none repeat scroll 0 0;
            margin-right: 15px;
            max-width: 80px;
            padding: 4px;
        }

        .list-group-item {
            padding: 0;
            border: 0;
            margin: 0;
            background-color: transparent;
        }

        .w-100 {
            margin-bottom: 1rem;
            display: block;
        }

        .w-100.last-item {
            margin-bottom: 0;
        }

        .mb-1 {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            margin-bottom: 0rem !important;
        }

        small {
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    .newsletter-widget {
        h4 {
            font-size: 2.4rem;
            padding: 0;
            margin: 0 0 1.5rem;
        }

        p {
            color: rgba(0, 0, 0, 0.4);
            font-size: 18px;
            padding: 0;
            margin: 0 0 2rem;
        }

        .form-inline {
            display: block;

            .form-control {
                background-color: rgba(255, 255, 255, 0.9);
                border: 1px solid #dbdde0;
                border-radius: 0;
                box-shadow: none;
                display: inline-block;
                font-size: 14px;
                height: 56px;
                padding-left: 1.5rem;
                line-height: 1;
                letter-spacing: 0.3px;
                vertical-align: middle;
                width: 400px;

                &::-webkit-input-placeholder {
                    color: #a2abb1;
                    opacity: 1;
                }

                &::-moz-placeholder {
                    color: #a2abb1;
                    opacity: 1;
                }

                &:-ms-input-placeholder {
                    color: #a2abb1;
                    opacity: 1;
                }

                &::placeholder {
                    color: #a2abb1;
                    opacity: 1;
                }
            }
        }

        .btn {
            height: 54px;
            border-radius: 0;
            border: 0;

            i {
                padding-left: 0.5rem;
            }
        }
    }

    .card-block {
        -moz-box-flex: 1;
        background: #202020 none repeat scroll 0 0;
        padding: 1.25rem 3rem;
        border-radius: 0 !important;
    }

    .top-search {
        .btn {
            position: absolute;
            right: 4%;
            border: 0 !important;
            border-left: 1px solid #555 !important;
            color: #555 !important;
            font-size: 24px;
            background-color: transparent !important;
            height: 54px;
            padding-left: 1rem;
            padding-right: 1rem;

            &:hover {
                position: absolute;
                right: 4%;
                border: 0 !important;
                border-left: 1px solid #555 !important;
                color: #555 !important;
                font-size: 24px;
                background-color: transparent !important;
                height: 54px;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            &:focus {
                position: absolute;
                right: 4%;
                border: 0 !important;
                border-left: 1px solid #555 !important;
                color: #555 !important;
                font-size: 24px;
                background-color: transparent !important;
                height: 54px;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        .newsletter-widget {
            .form-inline {
                .form-control {
                    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                    border: 0 none;
                    color: #555;
                    font-size: 24px;
                    width: 100%;

                    &::-moz-placeholder {
                        color: #555;
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        color: #555;
                        opacity: 1;
                    }

                    &::placeholder {
                        color: #555;
                        opacity: 1;
                    }
                }
            }
        }

        .form-inline {
            .form-control {
                &::-webkit-input-placeholder {
                    color: #555;
                    opacity: 1;
                }
            }
        }
    }

    .btn {
        background-color: #111;
        border: 0 none;
        border-radius: 0;
        font-size: 14px;
        font-weight: bold;
        padding: 0.8rem 2rem;
        text-transform: none;
        font-family: 'Poppins', serif !important;
        color: #fff !important;
        background: rgba(0, 0, 0, 0) linear-gradient(to right, #0091e5 0px, #00b7e5 100%) repeat scroll 0 0 !important;

        &:hover {
            color: #fff !important;
            background: rgba(0, 0, 0, 0) linear-gradient(to right, #0091e5 0px, #00b7e5 100%) repeat scroll 0 0 !important;
            color: #fff !important;
            background-color: #3197d6;
        }

        &:focus {
            color: #fff !important;
            background: rgba(0, 0, 0, 0) linear-gradient(to right, #0091e5 0px, #00b7e5 100%) repeat scroll 0 0 !important;
            color: #fff !important;
            background-color: #3197d6;
        }
    }

    .link-widget {
        li {
            padding: 0.4rem 0.2rem 0.6rem;
            text-transform: capitalize;
            line-height: 1;
            font-weight: 500;
            position: relative;
            margin: 0;
            border-bottom: 1px dashed #dadada;

            &:last-child {
                border-bottom: 0 dashed #dadada;
            }

            span {
                position: absolute;
                right: 0;
            }
        }
    }

    .loader {
        display: block;
        margin: 20px auto 0;
        vertical-align: middle;
    }

    #preloader {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: 11000;
        position: fixed;
        display: block;
    }

    .preloader {
        position: absolute;
        margin: 0 auto;
        left: 1%;
        right: 1%;
        top: 47%;
        width: 65px;
        height: 65px;
        background: center center no-repeat none;
        background-size: 65px 65px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }

    .navbar-toggleable-md {
        .navbar-nav {
            .nav-link {
                font-family: 'Poppins', serif !important;
            }
        }
    }

    .market-header {
        font-family: 'Poppins', serif !important;
    }

    .dropdown-item {
        font-family: 'Poppins', serif !important;
    }

    .form-control {
        font-family: 'Poppins', serif !important;
    }

    .dropdown-toggle {
        &::after {
            margin-top: -4px;
        }
    }

    .mr-2 {
        .nav-link {
            font-size: 21px !important;
            padding: 0.6rem 0.6rem 0 !important;
        }
    }

    .first-slot {
        float: left;
        width: 50%;

        .blog-meta {
            h4 {
                font-size: 31px;
                line-height: 1.4;
            }
        }
    }

    .last-slot {
        float: left;
        width: 25%;
    }

    .second-slot {
        float: left;
        width: 25%;
    }

    .first-section {
        margin-top: 4rem;

        .blog-meta {
            h4 {
                font-weight: 600;
                padding: 0.8rem 0 0.5rem !important;
            }
        }
    }

    .single-wrapper {
        margin-top: 3.5rem;
    }

    .blog-top {
        margin-bottom: 2rem;

        h4 {
            padding: 0;
            margin: 0;
            line-height: 1;
        }

        .fa {
            font-size: 18px !important;
            line-height: 1 !important;
            padding-left: 10px;
        }

        .fa-rss {
            color: #ff6347 !important;
        }
    }

    .fa-star {
        font-size: 12px;
        margin: 0 -2px 0 0;
        color: #fbb034;
    }

    .social-button {
        background-color: #ddd;
        display: table;
        padding: 0.5rem 1rem;
        color: #fff !important;
        position: relative;
        width: 100%;

        .fa {
            color: #fff !important;
        }

        p {
            margin: 10px 0 0;
            padding: 0;
            color: #fff !important;
            line-height: 1;
        }
    }

    .facebook-button {
        background-color: #3b5998;
    }

    .twitter-button {
        background-color: #1da1f2;
    }

    .google-button {
        background-color: #ea4335;
    }

    .youtube-button {
        background-color: #cd201f;
    }

    .footer {
        background-color: #000;
        background-image: none;

        .widget-title {
            color: #fff !important;
            border-color: #3197d6;
        }

        p {
            color: #999 !important;
        }

        a {
            color: #999 !important;

            &:hover {
                color: #0091e5 !important;
            }
        }

        .link-widget {
            li {
                border-color: #444;
            }
        }

        .fa {
            &:hover {
                color: #0091e5 !important;
            }

            &:focus {
                color: #0091e5 !important;
            }
        }

        h5 {
            &:hover {
                color: #3197d6 !important;
            }
        }
    }

    .trend-videos {
        h4 {
            font-size: 16px;
            line-height: 1.4;

            a {
                color: #111 !important;
            }
        }

        hr.invis {
            margin: 1rem 0;
        }

        .hovereffect {
            span {
                &:before {
                    opacity: 1 !important;
                    display: block !important;
                    visibility: visible !important;
                }
            }
        }
    }

    .navbar-toggler-right {
        top: 18px;
    }

    .bg-orange {
        background-color: #ff6347 !important;
    }

    .masonry-box {
        &:hover {
            .blog-meta {
                span.bg-orange {
                    background-color: #ff6347 !important;
                }

                span.bg-pink {
                    background-color: #deacca !important;
                }

                span.bg-aqua {
                    background-color: #2ad2c9 !important;
                }

                span.bg-green {
                    background-color: #34bf49 !important;
                }

                span.bg-red {
                    background-color: #ed1b2e !important;
                }

                span.bg-yellow {
                    background-color: #ffb900 !important;
                }

                span.bg-grey {
                    background-color: #6f1683 !important;
                }
            }
        }
    }

    .color-orange {
        a {
            background-color: #ff6347 !important;
        }
    }

    .fa-user-circle-o {
        color: #3197d6 !important;
    }

    .portfolio {
        .blog-meta {
            span.bg-pink {
                background-color: #deacca !important;
            }

            span.bg-grey {
                background-color: #6f1683 !important;
            }
        }
    }

    .color-pink {
        a {
            background-color: #deacca !important;
        }
    }

    .color-aqua {
        a {
            background-color: #2ad2c9 !important;
        }
    }

    .color-green {
        a {
            background-color: #34bf49 !important;
        }
    }

    .color-red {
        a {
            background-color: #ed1b2e !important;
        }
    }

    .color-yellow {
        a {
            background-color: #ffb900 !important;
        }
    }

    .color-grey {
        a {
            background-color: #6f1683 !important;
        }
    }

    .fa-star-o {
        color: #fbb034;
    }

    .topsocial {
        .fa.fa-facebook {
            color: #4b6ea9;
        }

        .fa.fa-google-plus {
            color: #e86142;
        }

        .fa.fa-twitter {
            color: #1ab2f5;
        }

        .fa.fa-linkedin {
            color: #0088c0;
        }

        .fa.fa-pinterest {
            color: #d73533;
        }

        .fa.fa-youtube {
            color: #d44638;
        }

        .fa.fa-instagram {
            color: #405de6;
        }

        .fa.fa-flickr {
            color: #ff0084;
        }
    }

    .fa-bolt {
        color: #d73533;
    }

    .footer.wb {
        .btn {
            color: rgba(255, 255, 255, 1) !important;
        }
    }
}

@media (max-width: 1080px) {
    .sec-blog {
        .first-section {
            .blog-meta {
                h4 {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .sec-blog {
        .first-section {
            .blog-meta {
                h4 {
                    font-size: 16px;
                }
            }
        }

        .shadow-desc {
            padding: 1rem 0.5rem;
        }

        .last-slot {
            float: none;
            width: 100%;
            display: block;
        }

        .second-slot {
            float: none;
            width: 100%;
            display: block;
        }

        .first-slot {
            float: none;
            width: 100%;
            display: block;
        }
    }
}

@media (max-width: 1156px) {
    .sec-blog {
        .small-box {
            .shadow-desc {
                h4 {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 1047px) {
    .sec-blog {
        .topbar-section {
            .list-inline-item {
                padding: 0 0.2rem !important;
            }
        }
    }
}

@media (max-width: 989px) {
    .sec-blog {
        .search-form {
            .btn {
                position: relative;

                &:hover {
                    position: relative;
                }

                &:focus {
                    position: relative;
                }
            }
        }

        .custombox {
            .blog-list-widget {
                margin: 1rem 0;
            }

            .blog-box {
                margin: 1rem 0;
            }
        }

        .sidebar {
            margin: 1.5rem 0;
        }

        .footer {
            .widget {
                margin: 1.5rem 0;
            }
        }

        .center-side {
            float: left;
            width: 50%;
        }

        .left-side {
            float: left;
            width: 50%;
        }

        .right-side {
            float: left;
            width: 50%;
        }
    }
}

@media (max-width: 768px) {
    .sec-blog {
        .post-sharing {
            .btn {
                padding: 0.6rem !important;
            }
        }

        .blog-custom-build {
            .down-mobile {
                display: none !important;
            }
        }

        .blog-title-area {
            .down-mobile {
                display: none !important;
            }
        }

        .newsletter-widget {
            .form-inline {
                .form-control {
                    width: 100%;
                }
            }

            .btn {
                display: block;
                width: 100%;
                margin-top: 0.5rem;
            }
        }

        .blog-list {
            .blog-meta.big-meta {
                h4 {
                    background-color: #fff;
                    margin-left: 0;
                    margin-top: 1rem;
                    padding: 1rem 0;
                }
            }
        }
    }
}

@media (max-width: 728px) {
    .sec-blog {
        .center-side {
            float: left;
            width: 100%;
        }

        .left-side {
            float: left;
            width: 100%;
        }

        .right-side {
            float: left;
            width: 100%;
        }

        .shadow-desc {
            bottom: 0;
            padding: 1rem 0.8rem;
            position: absolute;
        }

        .blog-meta {
            h4 {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 590px) {
    .sec-blog {
        .comment-list {
            .media {
                float: none !important;
                width: 100%;
                display: block;
            }
        }

        .blog-title-area {
            text-align: center;

            h3 {
                font-size: 34px;
            }
        }

        .pp {
            .float-right {
                width: 100%;
                margin: 1rem 0;
            }

            .float-left {
                width: 100%;
                margin: 1rem 0;
            }
        }

        .section-title {
            margin-top: 1rem;
        }

        .footer-text {
            img {
                float: none;
                width: 100%;
            }
        }

        .small-box {
            float: none;
            width: 100%;
        }

        .topbar-section {
            .text-right {
                text-align: center !important;
            }
        }

        .blog-meta.big-meta {
            h4 {
                font-size: 21px;
            }
        }

        .top-search {
            .newsletter-widget {
                .form-inline {
                    .form-control {
                        font-size: 16px;
                    }
                }
            }
        }

        .card-block {
            padding: 1rem 0.5rem;
        }

        .newsletter-widget {
            .btn {
                border: 0 none !important;
                font-size: 17px !important;
                padding: 1.3rem 1rem !important;

                &:hover {
                    border: 0 none !important;
                    font-size: 17px !important;
                    padding: 1.3rem 1rem !important;
                }

                &:focus {
                    border: 0 none !important;
                    font-size: 17px !important;
                    padding: 1.3rem 1rem !important;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .sec-blog {
        .header {
            .dropdown-menu {
                margin-top: 13px;
            }

            .navbar-nav {
                .has-submenu {
                    position: relative;

                    &:hover {
                        >ul {
                            visibility: visible;
                            opacity: 1;
                            top: 100%;

                            li {
                                ul {
                                    margin-top: -1px;
                                }
                            }
                        }
                    }

                    ul {
                        -webkit-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
                        -moz-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
                        -o-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
                        transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
                    }

                    .dropdown-menu {
                        min-width: 220px;
                        padding: 0;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                    }

                    >ul {
                        position: absolute;
                        top: 130%;
                        visibility: hidden;
                        display: block;
                        opacity: 0;
                        left: 0;

                        li {
                            position: relative;

                            &:hover {
                                >ul {
                                    visibility: visible;
                                    opacity: 1;
                                    left: 100%;
                                }

                                >ul.show-right {
                                    right: 100%;
                                }
                            }

                            ul {
                                position: absolute;
                                top: 0;
                                visibility: hidden;
                                display: block;
                                opacity: 0;
                                left: 130%;
                            }

                            ul.show-right {
                                right: 130%;
                                left: auto;
                            }
                        }
                    }

                    >ul.start-right {
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
    }
}