
@{
    ViewBag.Title = "Index";
}
<link href="~/theme/css/styleblog.css" rel="stylesheet" />
<!-- Breadcrumbs -->

<section class="sec-blog section mt-5 pt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">


                    <div class="blog-list clearfix">
                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="~/Blog/New" title="">
                                        <img src="/theme/images/blog/blog1.png" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="~/Blog/New" title="">Galaxy S23 Ultra đang giảm quá 'ngon', deal hot kịch sàn lên đến 5 triệu</a></h4>
                                <p>Giảm giá cực sốc cho Samsung Galaxy S23 Ultra. <a href="#">Xem ngay</a></p>
                                <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Reviews</a></small>
                                <small><a href="~/Blog/New" title="">06/04/2023</a></small>
                                <small>Đăng bởi Đức Huy</small>
                                <small><a href="~/Blog/New" title=""><i class="fa fa-eye"></i> 1114</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="tech-single.html" title="">
                                        <img src="/theme/images/blog/blog2.png" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="tech-single.html" title="">Bạn sẽ nhận được thông báo khi có thời tiết nguy hiểm trên Zalo với mẹo đơn giản sau</a></h4>
                                <p>Cách nhận thông báo thời tiết nguy hiểm trên ứng dụng Zalo bằng điện thoại. <a href="#">Xem ngay</a></p>
                                <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Reviews</a></small>
                                <small><a href="tech-single.html" title="">06/04/2023</a></small>
                                <small><a href="tech-author.html" title="">Đăng bởi Ngọc Cường</a></small>
                                <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 4412</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="tech-single.html" title="">
                                        <img src="/theme/images/blog/blog3.png" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="tech-single.html" title="">Samsung bắt tay với gã khổng lồ bán dẫn để đưa chip Exynos lên tầm cao mới</a></h4>
                                <p>Sự kiện công nghệ mới vừa diễn ra. <a href="#">Xem ngay</a></p>
                                <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Reviews</a></small>
                                <small><a href="tech-single.html" title="">05/04/2023</a></small>
                                <small><a href="tech-author.html" title="">Đăng bởi Công Khang</a></small>
                                <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 2313</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

