@model WebBanDTDD.Models.Product

@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    string price = string.Format(info, "{0:c}", Model.Price);
    string PromotionPrice = string.Format(info, "{0:c}", Model.PromotionPrice);

}


<div class="owl-item product_slider_item">
    <div class="product-item">
        <div class="product discount">
            <div class="product_image">
                <img src="@Model.Image" alt="">
            </div>
            <div class="favorite favorite_right"></div>
            @if (Model.Hot > DateTime.Now)
            {
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Hot</span></div>
            }
            <div class="product_info">
                <h6 class="product_name"><a href="@Url.Action("Product", "Shop", new {id=Model.ProductID})">@Model.Name</a></h6>
                <div class="product_price">
                    @price
                    @if (Model.PromotionPrice > 0)
                    {
                        <span>@PromotionPrice </span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
