<a href="@Url.Action("Index","ShoppingCart")">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        
        <span id="checkout_items" class="checkout_items" style="display:none"></span>

</a>
<script>
    $(window).on('load', function () {
        console.log('All assets are loaded')
        var comments = "test";
         $.ajax({
                        type: "Get",
             url: '@Url.Action("totalQuantity", "ShoppingCart")',
             dataType: "json",
             contentType: "application/json; charset=utf-8",
             cache: false,
             data: { test: comments },
             success: function (data) {
                 // data is your result from controller
                 if (data.success) {
                    // alert(data.message);
                     if (data.message > 0) {
                         $('span#checkout_items').html(data.message);
                         $('span#checkout_items').css('display', 'inline-block');
                     }
                     
                 }
             },
             error: function (xhr) {
                 alert('error');
             }
                    });
    })
</script>